[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pyyaml = "*"
selenium = "*"
reportlab = "*"

[dev-packages]
ruff = "*"
coverage = "*"
tox = "*"
reportlab = "*"

[requires]
python_version = "3.13"
