[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"

[dev-packages]
ruff = "*"
coverage = "*"
tox = "*"
# Alternative Python pour les tests d'accessibilité (optionnel, pa11y recommandé)
# axe-selenium-python = "*"
# selenium = "*"

[requires]
python_version = "3.13"
